.exchangeForm {
  &__operations {
    box-shadow: var(--shadow);
    border: 2px solid var(--base-color);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  &__finalCalculation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  &__inputAndSubmit {
    margin-top: 30px;
    position: relative;
    &--error {
      position: absolute;
      visibility: hidden;
      left: 0;
      bottom: -20px;
      width: 220px;
      color: rgba(255, 0, 0, 0.692);
      font-weight: 500;
    }
    i {
      position: absolute;
      visibility: hidden;
      transform: translateY(-50%);
      right: 70px;
      top: 50%;
      &.fa-info-circle {
        color: red;
      }
      &.fa-check-circle {
        color: #029702bb;
      }
    }
    input[type="number"] {
      -moz-appearance: textfield;
      color: #555;
      appearance: textfield;
      padding: 10px;
      width: 150px;
      border-radius: 4px;
      border: 2px solid rgba(128, 128, 128, 0.76);
      &.succes {
        border: 2px solid #029702bb;
      }
      &.error {
        border: 2px solid red;
      }
    }
  }
}

.result {
  display: flex;
  justify-content: center;
  height: 50px;
  gap: 5px;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
  .exchangeForm {
    &__inputAndSubmit {
      i {
        right: 80px;
      }
    }
  }
}
