:root {
  --base-color: #00cccc;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.05),
    0px 10px 10px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.05);
}

body {
  color: #555;
  font-family: "Arial";
  margin: 0;
  padding: 0;
  min-height: 100vh;
  gap: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

select {
  color: #555;
  background-color: var(--base-color);
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  height: 40px;
  cursor: pointer;
}

select:hover {
  background-color: #02ffffa4;
}

input[type="submit"] {
  background-color: var(--base-color);
  border: 2px solid #f0f0f0;
  color: #555;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00cccc62;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.table__header {
  text-align: center;
  font-size: 20px;
}

.table__header a {
  text-decoration: none;
}

.table__content {
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid var(--base-color);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.table__content tr:hover {
  background: #f4f4f4;
}

.table__content tr:hover td {
  color: #555;
}

.table__content th,
.table__content td {
  color: #999;
  border: 1px solid #eee;
  padding: 8px 25px;
  border-collapse: collapse;
}

.table__content th {
  background: var(--base-color);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.table__content--currency {
  text-align: left;
}

.table__content--item {
  text-align: center;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
  .table__header {
    font-size: 16px;
  }
  .table__content {
    width: 300px;
    font-size: 12px;
  }
  .table__content th,
  .table__content td {
    color: #999;
    border: 1px solid #eee;
    padding: 2px 4px;
    border-collapse: collapse;
  }
  .table__content th {
    color: #fff;
    font-size: 10px;
    width: 30px;
    text-align: left;
  }
  .table__content--currency {
    text-align: left;
  }
  .table__content--item {
    text-align: center;
  }
}

.exchangeForm__operations {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border: 2px solid var(--base-color);
  border-radius: 8px;
  margin-bottom: 20px;
}

.exchangeForm__finalCalculation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exchangeForm__inputAndSubmit {
  margin-top: 30px;
  position: relative;
}

.exchangeForm__inputAndSubmit--error {
  position: absolute;
  visibility: hidden;
  left: 0;
  bottom: -20px;
  width: 220px;
  color: rgba(255, 0, 0, 0.692);
  font-weight: 500;
}

.exchangeForm__inputAndSubmit i {
  position: absolute;
  visibility: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 70px;
  top: 50%;
}

.exchangeForm__inputAndSubmit i.fa-info-circle {
  color: red;
}

.exchangeForm__inputAndSubmit i.fa-check-circle {
  color: #029702bb;
}

.exchangeForm__inputAndSubmit input[type="number"] {
  -moz-appearance: textfield;
  color: #555;
  -webkit-appearance: textfield;
          appearance: textfield;
  padding: 10px;
  width: 150px;
  border-radius: 4px;
  border: 2px solid rgba(128, 128, 128, 0.76);
}

.exchangeForm__inputAndSubmit input[type="number"].succes {
  border: 2px solid #029702bb;
}

.exchangeForm__inputAndSubmit input[type="number"].error {
  border: 2px solid red;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  gap: 5px;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
  .exchangeForm__inputAndSubmit i {
    right: 80px;
  }
}
/*# sourceMappingURL=style.css.map */